<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="JazzCash Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="JAZZCASH_PAYMENTMODE" value="sandbox"/>
        <env name="JAZZCASH_MERCHANTID" value="test_merchant_id"/>
        <env name="JAZZCASH_PASSWORD" value="test_password"/>
        <env name="JAZZCASH_HASHKEY" value="test_hash_key"/>
        <env name="JAZZCASH_RETURNURL" value="https://example.com/callback"/>
        <env name="JAZZCASH_SANDBOX_URL" value="https://sandbox.jazzcash.com.pk"/>
        <env name="JAZZCASH_PRODUCTION_URL" value="https://jazzcash.com.pk"/>
    </php>
</phpunit>
